@font-face {
  font-family: 'Ultramagnetic';
  src: asset-data-url('fonts/Ultramagnetic.eot');
  src: local('Ultramagnetic'),
  font-url('fonts/Ultramagnetic.eot?#iefix') format('embedded-opentype'),
  font-url('fonts/Ultramagnetic.woff2') format('woff2'),
  font-url('fonts/Ultramagnetic.woff') format('woff'),
  font-url('fonts/Ultramagnetic.ttf') format('truetype'),
  font-url('fonts/Ultramagnetic.svg#Ultramagnetic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
